<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newEat="{{eat}}">
		{{#if eat}}Eat me!!{{else}}Never mind!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Eat me!</button>
</li>
